body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #874d4d;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

section {
    padding: 2rem;
    margin: 1rem;
    background-color: #874d4d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #874d4d;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #874d4d; /* Added to give the table an outer border */
}

th, td {
    padding: 1rem;
    text-align: center; /* Centering text in all table cells */
    border: 1px solid #874d4d; /* Added to add borders around each cell */
}

th {
    background-color: #874d4d;
    color: #fff; /* Changed to ensure text in the header is visible */
}

td {
    background-color: #f2a4a4;
}

a {
    color: #874d4d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
